.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: -2px 4px 11px -2px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 4px 11px -2px rgba(0, 0, 0, 0.5);

    .featuredTitle {
      font-size: 20px;
    }
    .featuredMoneyContainer {
      margin: 10px 0px;
      display: flex;
      align-items: center;

      .featuredMoneyRate {
        display: flex;
        align-items: center;

        .featuredIcon {
          font-size: 14px !important;
          margin-left: 5px !important;
          color: green !important;
        }
        .featuredIcon.negative {
          color: red !important;
        }
      }

      .featuredMoney {
        font: size 30px;
        font-weight: 600;
        margin-left: 20px;
      }
    }
    .featuredSub {
      font-size: 15px;
      color: grey;
    }
  }
}
